{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Menu</title>
{% endblock title %}

{% block content %}
    <br>
    <div class="container">
        <form method="get">
          {{ filter.form | crispy }}
          <button class="btn btn-primary" name="submit">Search</button>
        </form>
        <br>
        {% if bill_list %}
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Cost</th>
                  <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
              {% for item in bill_list%}
              <tr>
                  <td>{{ item.name }}</td>
                  <td>{{ item.category }}</td>
                  <td>{{ item.cost }}</td>
                  <td>
                    <a href="{% url 'delete_item_from_bill' item.name %}" class="btn btn-danger">Remove</a>
                  </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
        <br>
        {% endif %}

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Cuisine</th>
                    <th scope="col">Category</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.cuisine }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.cost }}</td>
                        <td>
                          <a href = "{% url 'add_item_to_bill' item.id %}" class="btn btn-success">Add</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
